<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    {% include 'app/navbar.html' %}
      &nbsp;
    <div class="container">
      <div class="row">
        <table class="table table-striped">

          <h2>Order summary</h2>
  <thead>
    <tr>
      <th scope="">#</th>
      <th scope="col">Item title</th>

      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Item Price</th>
    </tr>
  </thead>
  <tbody>
    {% for order_item in order.items.all %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{order_item.product.title}}</td>
      <td>{{order_item.product.price}}</td>
      <td>
        <a href="{% url 'remove_single_item_from_cart' order_item.product.id %}"><i  class="fa fa-minus mr-2"></i></a>
        {{order_item.quantity}}
        <a href="{% url 'add-to-cart' order_item.product.id %}"><i class="fa fa-plus ml-2"></i></a>
      </td>
      <!-- checking if order has a disounted price or normal price -->

      <td>
        {% if order_item.product.discount_price %}

          {{order_item.get_total_item_discount_price}}&nbsp
        <span class="badge badge-primary">saving {{order_item.get_amount_saved}}</span>

          {%  else %}

          {{order_item.get_total_item_price}}

          {% endif %}
          
          <a style='color:red;' href="{% url 'remove-from-cart' order_item.product.id %}">
          <i class="fas fa-trash float-right"></i></a>
        </td>
    </tr>

    <!-- checking if cart is empty -->

    {% empty %}
    <tr>
      <td colspan="5">Your cart is empty</td>
    </tr>
    <tr>
      <td colspan="5">
        <a class="btn btn-primary float-right ml-2" href="/">Continue shopping</a>
    </tr>
    {% endfor %}

<!-- checking if there is a order total -->

    {% if order.get_total %}
    <tr>
      <td colspan="4"><b>order total</b></td>
      <td><b>{{order.get_total}}</b></td>
    </tr>
    <tr>
      <td colspan="5">
        <a class="btn btn-primary float-right ml-2" href="/">Continue shopping</a>
        <a class="btn btn-warning float-right" href="/checkout/">Proceed To checkout</a></td>

      <!-- <td colspan="5"><b>{{order.get_total}}</b></td> -->
    </tr>
    {% endif %}
  </tbody>
</table>


      </div>

    </div>
  </body>
</html>
